{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}

<title>{{ meta.title|default:"Default Title" }}</title>
<meta name="description" content="{{ meta.description|default:'Default description' }}">
<meta name="keywords" content="{{ meta.keywords|default:'keyword1, keyword2' }}">

{% endblock %}
{% block css %}

    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/bootstrap.min.css' %}"
    />

    <!-- Swiper Slider CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/swiper-bundle.min.css' %}"
    />

    <!-- Font Awesome CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/fontawesome.min.css' %}"
    />

    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
  </head>
{% endblock %}
{% block main %}
    <!-- Banner Start -->
    <section class="inner-banner">
      <div class="main-banner-bg-shape">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
      </div>
      <div class="inner-banner-bg-aliment-wp">
        <div class="bg-aliment-3 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="44"
            height="44"
            alt="Aliment"
          />
        </div>

        <div class="bg-aliment-6 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="44"
            height="44"
            alt="Aliment"
          />
        </div>

        <div class="bg-aliment-9 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="29"
            height="29"
            alt="Aliment"
          />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-content text-center">
              <h1 class="h1-title">{% trans 'Haqqımızda' %}</h1>
              <div class="banner-breadcrum">
                <ul>
                  <li><a href="{% url 'index' %}" title="Home">{% trans 'Ana səhifə' %}</a></li>
                  <li><i class="fa-solid fa-angle-right"></i></li>
                  <li>{% trans 'Haqqımızda' %}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner End -->

    <!-- About Us Start -->
    <section class="about-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="about-image-content wow left-animation"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="about-image-box-wp">
                <div class="about-image-box-bg">
                  <div class="about-image-bg-shape"></div>
                </div>
                <div class="about-image">
                  <img
                    src="{{ about.image.url }}"
                    width="444"
                    height="557"
                    alt="About Us Image"
                  />
                </div>
                <div class="about-image-icon-wp">
                  <div class="about-image-icon top-icon">
                    <img
                      src="{{ about.image_3.url }}"
                      width="56"
                      height="56"
                      alt="About Image Icon"
                    />
                  </div>
                  <div class="about-image-icon bottom-icon">
                    <img
                      src="{{ about.image_4.url }}"
                      width="56"
                      height="56"
                      alt="About Image Icon"
                    />
                  </div>
                </div>
              </div>
              <div class="students-endroll-box move-element-animation-2">
                <div class="students-endroll-title">
                  <h5 class="h5-title">{{ about.image_2_title_1 }}</h5>
                </div>
                <div class="students-endroll-image">
                  <img
                    src="{{ about.image_2.url }}"
                    width="217"
                    height="80"
                    alt="Graph Image"
                  />
                </div>
                <div class="students-endroll-text">
                  <p>{{ about.image_2_title_2 }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center">
            <div
              class="about-content wow right-animation"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="sec-title">
                <span class="sub-title">{% trans 'Haqqımızda' %}</span>
                <h2 class="h2-title">{{ about.title }}</h2>
              </div>
              <div class="about-text">
                <p>
                    {{ about.description|safe }}
                </p>
                
              </div>
              <div class="about-feature-info">
                <div class="about-feature-box">
                  <div class="about-feature-icon">
                    <img
                      src="{{ about.statistic_1_icon.url }}"
                      width="25"
                      height="25"
                      alt="Learn The Best Image"
                    />
                  </div>
                  <div class="about-feature-text">
                    <h4 class="h4-title">{{ about.statistic_1_title }}</h4>
                    <p>{{ about.statistic_1_description }}</p>
                  </div>
                </div>
                <div class="about-feature-box">
                  <div class="about-feature-icon">
                    <img
                      src="{{ about.statistic_2_icon.url}}"
                      width="29"
                      height="20"
                      alt="Expert Instructors Image"
                    />
                  </div>
                  <div class="about-feature-text">
                    <h4 class="h4-title">{{ about.statistic_2_title }}</h4>
                    <p>{{ about.statistic_2_description|safe }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div
              class="about-counter-row wow fadeup-animation"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
              id="about_counter"
            >
            {% for i in statistic %}
                <div class="about-counter-box-wp">
                  <div class="about-counter-box">
                    <h3 class="h3-title">
                      <span class="counting" data-count="{{ i.digit }}">0</span>+
                    </h3>
                    <div class="about-counter-text">
                      <p>{{ i.title }}</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us End -->

    <!-- Our Features Start -->
    <section class="our-features">
  <div class="container">
    <div class="row">
      {% for item in about_two %}
      <div class="col-lg-6">
        <div class="our-features-content">
          <div class="sec-title">
            <span class="sub-title">{% trans "Xüsusiyyətlərimiz" %}</span>
            <h2 class="h2-title">{{ item.title }}</h2>
          </div>

          <div class="our-features-info">
            {% for feature in item.about.all %}
            <div class="our-features-info-box">
              <div class="our-features-icon">
                {% if feature.image %}
                <img src="{{ feature.image.url }}" width="40" height="39" alt="Icon" />
                {% endif %}
              </div>
              <div class="our-features-info-text">
                <h4 class="h4-title">{{ feature.title }}</h4>
                <p>{{ feature.description }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-lg-6 align-self-center">
        <div class="our-features-image-wp">
          <div class="our-features-image">
            {% if item.image %}
            <img src="{{ item.image.url }}" width="510" height="693" alt="{{ item.title }}" />
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

    <!-- Our Features End -->
{% endblock %}
{% block js %}
    <!-- Back To Top Start -->
    <div class="scroll-to-top">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Back To Top End -->

    <!-- Jquery JS Link -->

    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Bootstrap JS Link -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Swiper Slider JS Link -->
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

    <!-- Bg Moving JS Link -->
    <script src="{% static 'assets/js/bg-moving.js' %}"></script>

    <!-- Wow Animation JS Link -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!-- Custom JS Link -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/custom-scroll-count.js' %}"></script>

    <!-- Back To Top JS Link -->
    <script src="{% static 'assets/js/back-to-top.js' %}"></script>
{% endblock %}
