{% extends "base.html" %}
{% load static %}
{% load i18n %}

<!-- {% block meta %}

<title>{{ meta.title|default:"Default Title" }}</title>
<meta name="description" content="{{ meta.description|default:'Default description' }}">
<meta name="keywords" content="{{ meta.keywords|default:'keyword1, keyword2' }}">

{% endblock %} -->
{% block css %}

    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/bootstrap.min.css' %}"
    />

    <!-- Swiper Slider CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/swiper-bundle.min.css' %}"
    />

    <!-- Font Awesome CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/fontawesome.min.css' %}"
    />

    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
  </head>
{% endblock %}
{% block main %}

    <!-- Banner Start -->
    <section class="inner-banner">
      <div class="main-banner-bg-shape">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
      </div>
      <div class="inner-banner-bg-aliment-wp">
        <div class="bg-aliment-3 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="44"
            height="44"
            alt="Aliment"
          />
        </div>

        <div class="bg-aliment-6 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="44"
            height="44"
            alt="Aliment"
          />
        </div>

        <div class="bg-aliment-9 zoom-fade-animation">
          <img
            src="{% static 'assets/images/aliment-03.svg' %}"
            width="29"
            height="29"
            alt="Aliment"
          />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-content text-center">
              <h1 class="h1-title">{% trans 'Video dərslər' %}</h1>
              <div class="banner-breadcrum">
                <ul>
                  <li><a href="{% url 'index' %}" title="Home">{% trans 'Ana səhifə' %}</a></li>
                  <li><i class="fa-solid fa-angle-right"></i></li>
                  <li>{% trans 'Video dərslər' %}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner End -->
    <!-- Top Course Start -->
    <section class="top-course-sec sec-space-top sec-bg">
      <div class="container">
        <div
          class="grid wow fadeup-animation video-area"
          data-wow-duration="0.8s"
          data-wow-delay="0.4s"
        >

            {% for i in videos %}
              <div class="grid-item">
                <div class="common-post-card">
                  <div class="post-image-box-wp video-layer">
                    <div class="post-image pdf-image">
                      <img
                        src="{{ i.image.url }}"
                        width="356"
                        height="230"
                        alt="Course Image"
                      />
                    </div>
                    <div class="post-tag video-tag">
                      <span><i class="fa fa-play"></i></span>
                    </div>
                  </div>
                  <div class="common-post-content">
                    <div class="post-content-title">
                      <h4 class="h4-title">{{ i.title }}</h4>
                    </div>
                    <div class="course-price">
                      <h4 class="h4-title">{{ i.price }}₼</h4>
                      {% if i.old_price %}
                      <h4 class="h4-title prev-price">{{ i.old_price }}₼</h4>
                      {% endif %}
                    </div>
                    <div class="header-btn">
                      <a href="{% url 'video_detail' i.id %}" class="sec-btn mt-0" title="Get Started"
                        ><span>{% trans 'İndi al' %}</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          
        </div>
      </div>
    </section>
    <!-- Top Course End -->
{% endblock %}

{% block js %}
    <!-- Back To Top Start -->
    <div class="scroll-to-top">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Back To Top End -->

    <!-- Jquery JS Link -->
    <script
      data-cfasync="false"
      src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
    ></script>
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Bootstrap JS Link -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Swiper Slider JS Link -->
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

    <!-- Bg Moving JS Link -->
    <script src="{% static 'assets/js/bg-moving.js' %}"></script>

    <!-- Isotope JS Link -->
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

    <!-- Wow Animation JS Link -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!-- Custom JS Link -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/custom-scroll-count.js' %}"></script>

    <!-- Back To Top JS Link -->
    <script src="{% static 'assets/js/back-to-top.js' %}"></script>
{% endblock %}