{% load static %}
{% load i18n %}
<body class="fixed">
    <!-- Header Start -->
    <header class="site-header">
      <div class="bottom-header">
        <div class="container">
          <div class="row">
            <div class="col-xxl-3 col-lg-2 col-5">
              <div class="site-branding">
                <a href="{% url 'index' %}" title="Courseshub">
                  {% if logo.header_logo %}
                  <img
                    src="{{ logo.header_logo.url }}"
                    width="200"
                    height="36"
                    alt="Courseshub"
                  />
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="col-xxl-9 col-lg-10 col-7">
              <div class="header-menu">
                <nav class="main-navigation">
                  <button class="toggle-button">
                    <span></span>
                  </button>

                  <div class="header-icon-wp">
                    <div class="search-wp">
                      <div class="search-icon-box">
                        <a href="javascript:void(0);" class="search-icon">
                          <img
                            src="{% static 'assets/images/search-icon.svg' %}"
                            width="20"
                            height="20"
                            alt="Search Icon"
                          />
                        </a>
                      </div>

                      <div class="search-input">
                        <div class="search-input-box">
                          <form action="{% url 'search' %}" method="get" class="search-form">
                            <input
                              type="text"
                              name="q"
                              class="form-input"
                              placeholder="{% trans 'Axtarış edin...' %}"
                              required
                            />
                            <button type="submit" class="sec-btn">
                              <span>
                                <img
                                  src="{% static 'assets/images/search-icon.svg' %}"
                                  width="18"
                                  height="18"
                                  alt="Search Icon"
                                />
                              </span>
                            </button>
                          </form>

                        </div>
                      </div>
                    </div>
      
                    <div class="cart-wp">
                      <a href="{% url 'cart' %}" class="cart-icon">
                        <img
                          src="{% static 'assets/images/cart-icon.svg' %}"
                          width="22"
                          height="20"
                          alt="Cart Icon"
                        />
                      </a>
                    </div>
<div class="el-lang">
    <span>
        {% if LANGUAGE_CODE == "az" %}
            <img src="{% static 'assets/images/flags/AZ.png' %}" alt="AZ"> Az
        {% elif LANGUAGE_CODE == "ru" %}
            <img src="{% static 'assets/images/flags/RU.png' %}" alt="RU"> Ru
        {% else %}
            <img src="{% static 'assets/images/flags/GB.png' %}" alt="EN"> En
        {% endif %}
        <i class="fa-solid fa-angle-down"></i>
    </span>

    <style>
        .el-lang:hover ul {
            width: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

    <ul>
        {% if LANGUAGE_CODE != "az" %}
        <li>
            <a href="{% url 'set_language' 'az' %}">
                <img src="{% static 'assets/images/flags/AZ.png' %}" alt="AZ"> Az
            </a>
        </li>
        {% endif %}

        {% if LANGUAGE_CODE != "ru" %}
        <li>
            <a href="{% url 'set_language' 'ru' %}">
                <img src="{% static 'assets/images/flags/RU.png' %}" alt="RU"> Ru
            </a>
        </li>
        {% endif %}

        {% if LANGUAGE_CODE != "en" %}
        <li>
            <a href="{% url 'set_language' 'en' %}">
                <img src="{% static 'assets/images/flags/GB.png' %}" alt="EN"> En
            </a>
        </li>
        {% endif %}
    </ul>
</div>


                  </div>
                  {% if user.is_authenticated %}
                    <!-- İstifadəçi login olub -->
                    <div class="header-btn">
                      <a href="{% url 'account' %}" class="sec-btn" title="Profil">
                        <span class="register-text">{{ user.first_name|default:user.username }}</span>
                        <span class="user-icon fas fa-user"></span>
                      </a>
                    </div>
                  {% else %}
                    <!-- İstifadəçi login olmayıb -->
                    <div class="header-btn">
                      <a href="{% url 'login' %}" class="sec-btn" title="Get Started">
                        <span class="register-text">{% trans 'Qeydiyyat / Giriş' %}</span>
                        <span class="user-icon fas fa-user"></span>
                      </a>
                    </div>
                  {% endif %}

                </nav>
                <div class="black-shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-10 col-lg-12 mx-auto navbar-menu">
        <div class="header-menu">
          <nav class="main-navigation">
            <button class="toggle-button">
              <span></span>
            </button>
            <div class="mobile-menu-box">
              <div class="header-menu-container">
  <ul>
    <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
      <a href="{% url 'index' %}" title="Home">{% trans 'Ana səhifə' %}</a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'news' %}active{% endif %}">
      <a href="{% url 'news' %}" title="About Us">{% trans 'Xəbərlər' %}</a>
    </li>

    <li class="sub-items {% if request.resolver_match.url_name == 'book' %}active{% endif %}">
      <a href="{% url 'book' %}" title="Kitablar">{% trans 'Kitablar' %}</a>
      <ul class="sub-menu">
        {% for sc in book_sub_category %}
          <li>
            <a href="{% url 'book' %}?sub_category={{ sc.id }}" title="{{ sc.title }}">
              {{ sc.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>

    <li class="sub-items {% if request.resolver_match.url_name == 'exam_list' %}active{% endif %}">
      <a href="{% url 'exam_list' %}" title="imtahanlar">{% trans 'Online imtahanlar' %}</a>
      <ul class="sub-menu">
        {% for category in all_categories %}
          <li>
            <a href="{% url 'exam_list' %}?category={{ category.id }}" title="">
              {{ category.title }}
            </a>

            {% if category.subcategory_set.all %}
              <ul class="sub-menu">
                {% for subcat in category.subcategory_set.all %}
                  <li>
                    <a href="{% url 'exam_list' %}?category={{ category.id }}&subcategory={{ subcat.id }}">

                      {{ subcat.title }}
                    </a>

                    {% if subcat.subsubcategory_set.all %}
                      <ul class="sub-menu">
                        {% for subsub in subcat.subsubcategory_set.all %}
                          <li>
                            <a href="{% url 'exam_list' %}?category={{ category.id }}&subcategory={{ subcat.id }}&subsubcategory={{ subsub.id }}&subsubsubcategory={{ subsubsub.id }}">

                              {{ subsub.title }}
                            </a>

                            <!-- {% if subsub.subsubsubcategory_set.all %}
                              <ul class="sub-menu">
                                {% for subsubsub in subsub.subsubsubcategory_set.all %}
                                  <li>
                                    <a href="{% url 'exam_list' %}?subsubsubcategory={{ subsubsub.id }}">
                                      {{ subsubsub.title }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %} -->
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>

<li class="sub-items{% if selected_category or selected_subcategory %} active{% endif %}">
    <a href="{% url 'video' %}">{% trans 'Video dərslər' %}</a>
    <ul class="sub-menu">
        {% for cat in categoriess %}
        <li>
            <a href="{% url 'video' %}?category={{ cat.id }}"
               class="{% if selected_category == cat.id %}active{% endif %}">
               {{ cat.title }}
            </a>
            {% if cat.videosubcategory_set.all %}
            <ul class="sub-menu">
                {% for sub in cat.videosubcategory_set.all %}
                <li>
                    <a href="{% url 'video' %}?category={{ cat.id }}&subcategory={{ sub.id }}"
                       class="{% if selected_subcategory == sub.id %}active{% endif %}">
                       {{ sub.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'free_video' %}">{% trans 'Ödənişsiz videolar' %}</a>
        </li>
    </ul>
</li>




<li class="sub-items">
  <a style="color: #19254b;">{% trans 'Pulsuz Resurslar' %}</a>
  <ul class="sub-menu">

    <!-- BOOK FREE -->
    <li>
      <a href="{% url 'book_free' %}">{% trans 'Sual kitabçaları' %}</a>
      <ul class="sub-menu">
        {% for i in book_free_category %}
        <li>
          <a href="{% url 'book_free' %}?category={{ i.id }}" title="{{ i.title }}">
            {{ i.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <!-- TEST -->
    <li>
      <a href="{% url 'test' %}">{% trans 'Testlər' %}</a>
      <ul class="sub-menu">
        {% for i in test_categories %}
        <li>
          <a href="{% url 'test' %}?category={{ i.id }}" title="{{ i.title }}">
            {{ i.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <!-- EXPANATION -->
    <li>
      <a href="{% url 'expanation' %}">{% trans 'İzahlar' %}</a>
      <ul class="sub-menu">
        {% for i in expanation_categories %}
        <li>
          <a href="{% url 'expanation' %}?category={{ i.id }}" title="{{ i.title }}">
            {{ i.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

  </ul>
</li>


    <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
      <a href="{% url 'about' %}">{% trans 'Haqqımızda' %}</a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
      <a href="{% url 'contact' %}" title="Contact Us">{% trans 'Əlaqə' %}</a>
    </li>

    <li class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}">
      <a href="{% url 'faq' %}">{% trans 'Sual-cavab' %}</a>
    </li>
  </ul>
</div>

            </div>
          </nav>
          <div class="black-shadow"></div>
        </div>
      </div>
    </header>
    <!-- Header End -->
