{% load static %}
{% load i18n %}
<body class="fixed">
    <!-- Header Start -->
    <header class="site-header">
      <div class="bottom-header">
        <div class="container">
          <div class="row">
            <div class="col-xxl-3 col-lg-2 col-6">
              <div class="site-branding">
                <a href="{% url 'index' %}" title="Courseshub">
                  {% if logo.header_logo %}
                  <img
                    src="{{ logo.header_logo.url }}"
                    width="200"
                    height="36"
                    alt="Courseshub"
                  />
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="col-xxl-9 col-lg-10 col-6">
              <div class="header-menu">
                <nav class="main-navigation">
                  <button class="toggle-button">
                    <span></span>
                  </button>

                  <div class="header-icon-wp">
                    <div class="search-wp">
                      <div class="search-icon-box">
                        <a href="javascript:void(0);" class="search-icon">
                          <img
                            src="{% static 'assets/images/search-icon.svg' %}"
                            width="20"
                            height="20"
                            alt="Search Icon"
                          />
                        </a>
                      </div>

                      <div class="search-input">
                        <div class="search-input-box">
                          <form>
                            <input
                              type="text"
                              name="search"
                              class="form-input"
                              placeholder="Search Here..."
                              required=""
                            />
                            <button type="submit" class="sec-btn">
                              <span
                                ><img
                                  src="{% static 'assets/images/search-icon.svg' %}"
                                  width="18"
                                  height="18"
                                  alt="Search Icon"
                              /></span>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
      
                    <div class="cart-wp">
                      <a href="{% url 'cart' %}" class="cart-icon">
                        <img
                          src="{% static 'assets/images/cart-icon.svg' %}"
                          width="22"
                          height="20"
                          alt="Cart Icon"
                        />
                      </a>
                    </div>
                  </div>
                  {% if user.is_authenticated %}
                    <!-- İstifadəçi login olub -->
                    <div class="header-btn">
                      <a href="{% url 'account' %}" class="sec-btn" title="Profil">
                        <span class="register-text">{{ user.first_name|default:user.username }}</span>
                        <span class="user-icon fas fa-user"></span>
                      </a>
                    </div>
                  {% else %}
                    <!-- İstifadəçi login olmayıb -->
                    <div class="header-btn">
                      <a href="{% url 'login' %}" class="sec-btn" title="Get Started">
                        <span class="register-text">Qeydiyyat / Giriş</span>
                        <span class="user-icon fas fa-user"></span>
                      </a>
                    </div>
                  {% endif %}

                </nav>
                <div class="black-shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-10 col-lg-12 mx-auto navbar-menu">
        <div class="header-menu">
          <nav class="main-navigation">
            <button class="toggle-button">
              <span></span>
            </button>
            <div class="mobile-menu-box">
              <div class="header-menu-container">
                <ul>
                  <li class="active">
                    <a href="{% url 'index' %}" title="Home">{% trans 'Ana səhifə' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'news' %}" title="About Us">{% trans 'Xəbərlər' %}</a>
                  </li>
                  <li class="sub-items">
                    <a href="{% url 'book' %}" title="Kitablar">{% trans "Kitablar" %}</a>
                    <ul class="sub-menu">
                      {% for sc in book_sub_category %}
                        <li>
                          <a href="{% url 'book' %}?sub_category={{ sc.id }}" title="{{ sc.title }}">
                            {{ sc.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>

              <li class="sub-items">
                <a href="{% url 'exam_list' %}" title="imtahanlar">Online imtahanlar</a>
                <ul class="sub-menu">
                  {% for category in all_categories %}
                    <li>
                      <a href="{% url 'exam_list' %}?category={{ category.id }}" title="">
                        {{ category.title }}
                      </a>

                      {% if category.subcategory_set.all %}
                        <ul class="sub-menu">
                          {% for subcat in category.subcategory_set.all %}
                            <li>
                              <a href="{% url 'exam_list' %}?subcategory={{ subcat.id }}">
                                {{ subcat.title }}
                              </a>

                              {% if subcat.subsubcategory_set.all %}
                                <ul class="sub-menu">
                                  {% for subsub in subcat.subsubcategory_set.all %}
                                    <li>
                                      <a href="{% url 'exam_list' %}?subsubcategory={{ subsub.id }}">
                                        {{ subsub.title }}
                                      </a>

                                      {% if subsub.subsubsubcategory_set.all %}
                                        <ul class="sub-menu">
                                          {% for subsubsub in subsub.subsubsubcategory_set.all %}
                                            <li>
                                              <a href="{% url 'exam_list' %}?subsubsubcategory={{ subsubsub.id }}">
                                                {{ subsubsub.title }}
                                              </a>
                                            </li>
                                          {% endfor %}
                                        </ul>
                                      {% endif %}
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>

                  <li class="sub-items">
                    <a href="{% url 'video' %}" title="Blog">{% trans 'Video dərslər' %}</a>
                  <ul class="sub-menu">
                    {% for cat in categories %}
                    <li>
                      {% if cat.id %}
                      <a href="{% url 'video_category' cat.id %}" title="">
                        {{ cat.title }}
                      </a>
                      {% endif %}

                      {% if cat.videosubcategory_set.all %}
                      <ul class="sub-menu">
                        {% for sub in cat.videosubcategory_set.all %}
                        <li>
                          <a href="{% url 'video_subcategory' cat.id sub.id %}" title="">
                            {{ sub.title }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}

                    <li>
                      <a href="{% url 'free_video' %}" title="Blog Detail">
                        {% trans 'Ödənişsiz videolar' %}
                      </a>
                    </li>
                  </ul>

                  </li>
                  <li><a href="{% url 'pdf' %}" target="_blank">{% trans 'Pdf yüklə' %}</a></li>
                  <li><a href="{% url 'about' %}">{% trans 'Haqqımızda' %}</a></li>

                  <li>
                    <a href="{% url 'contact' %}" title="Contact Us">{% trans 'Əlaqə' %}</a>
                  </li>
                  <li><a href="{% url 'faq' %}">{% trans 'Sual-cavab' %}</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="black-shadow"></div>
        </div>
      </div>
    </header>
    <!-- Header End -->
