<!DOCTYPE html>
<html lang="az">
<head>
    <title>404 Error - Etibar Latifli</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Kurs, imtahanlar, kitablar">
    <meta name="description" content="Etibar Letifli">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FavIcon Link -->
    <link rel="shortcut icon" href="" type="image/gif" sizes="16x16">

    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- Swiper Slider CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.min.css">

    <!-- Font Awesome CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">

    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body class="fixed">
href="" 

    <!-- Header Start -->
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-header-content-box">
                            <p>Intro Price. Get UpSkill For Big Sale <span>-50%OFF</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-lg-2">
                        <div class="site-branding">
                            <a href="{% url 'index' %}" title="Courseshub">
                                <img src="assets/images/logo.svg" width="200" height="36" alt="Courseshub">
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-lg-10">
                        <div class="header-menu">
                            <nav class="main-navigation">
                                <button class="toggle-button">
                                    <span></span>
                                </button>
                                <div class="mobile-menu-box">
                                    <div class="search-input for-mobile">
                                        <div class="search-input-box">
                                            <form>
                                                <input type="text" name="search" class="form-input"
                                                    placeholder="Search Here..." required="">
                                                <button type="submit" class="sec-btn">
                                                    <span><img src="assets/images/search-icon.svg" width="18"
                                                            height="18" alt="Search Icon"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header-menu-container">
                                        <ul>
                                            <li>
                                                <a href="{% url 'index' %}" title="Home">Ana səhifə</a>
                                            </li>
                                            <li>
                                                <a href="about.html" title="About Us">About Us</a>
                                            </li>
                                            <li class="sub-items">
                                                <a href="javascript:void(0);" title="Courses">Courses</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="courses-grid.html" title="Courses Grid">Courses
                                                            Grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="courses-list.html" title="Courses List">Courses
                                                            List</a>
                                                    </li>
                                                    <li>
                                                        <a href="courses-detail.html" title="Courses Detail">Courses
                                                            Detail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-items active">
                                                <a href="javascript:void(0);" title="Pages">Pages</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="exams.html" title="Event Detail">Event
                                                            Detail</a>
                                                    </li>
                                                    <li>
                                                        <a href="instructor.html" title="Instructor">Instructor</a>
                                                    </li>
                                                    <li>
                                                        <a href="instructor-detail.html"
                                                            title="Instructor Detail">Instructor Detail</a>
                                                    </li>
                                                    <li>
                                                        <a href="pricing.html" title="Pricing">Pricing</a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html" title="Faq">Faq</a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="404.html" title="404 Error">404 Error</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-items">
                                                <a href="javascript:void(0);" title="Blog">Blog</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="blog-grid.html" title="Blog Grid">Blog Grid</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-list.html" title="Blog List">Blog List</a>
                                                    </li>
                                                    <li>
                                                        <a href="news-details.html" title="Blog Detail">Blog Detail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html" title="Contact Us">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-icon-wp">
                                    <div class="search-wp">
                                        <div class="search-icon-box">
                                            <a href="javascript:void(0);" class="search-icon">
                                                <img src="assets/images/search-icon.svg" width="20" height="20"
                                                    alt="Search Icon">
                                            </a>
                                        </div>
                                        <div class="search-input">
                                            <div class="search-input-box">
                                                <form>
                                                    <input type="text" name="search" class="form-input"
                                                        placeholder="Search Here..." required="">
                                                    <button type="submit" class="sec-btn">
                                                        <span><img src="assets/images/search-icon.svg" width="18"
                                                                height="18" alt="Search Icon"></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-wp">
                                        <a href="javascript:void(0);" class="cart-icon">
                                            <img src="assets/images/cart-icon.svg" width="22" height="20"
                                                alt="Cart Icon">
                                        </a>
                                    </div>
                                </div>
                                <div class="header-btn">
                                    <a href="contact.html" class="sec-btn" title="Get Started"><span>Get
                                            Started</span></a>
                                </div>
                            </nav>
                            <div class="black-shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Banner Start -->
    <section class="inner-banner">
        <div class="main-banner-bg-shape">
            <div class="shape-1"></div>
            <div class="shape-2"></div>
        </div>
        <div class="inner-banner-bg-aliment-wp">
            <div class="bg-aliment-1 rotate-animation">
                <img src="assets/images/aliment-01.svg" width="30" height="30" alt="Aliment">
            </div>
            <div class="bg-aliment-2 animate-this">
                <img src="assets/images/aliment-02.svg" width="26" height="22" alt="Aliment">
            </div>
            <div class="bg-aliment-3 zoom-fade-animation">
                <img src="assets/images/aliment-03.svg" width="44" height="44" alt="Aliment">
            </div>
            <div class="bg-aliment-4 rotate-animation">
                <img src="assets/images/aliment-01.svg" width="30" height="30" alt="Aliment">
            </div>
            <div class="bg-aliment-5 animate-this">
                <img src="assets/images/aliment-04.svg" width="26" height="22" alt="Aliment">
            </div>
            <div class="bg-aliment-6 zoom-fade-animation">
                <img src="assets/images/aliment-03.svg" width="44" height="44" alt="Aliment">
            </div>
            <div class="bg-aliment-7 rotate-animation">
                <img src="assets/images/aliment-05.svg" width="30" height="30" alt="Aliment">
            </div>
            <div class="bg-aliment-8 animate-this">
                <img src="assets/images/aliment-06.svg" width="19" height="16" alt="Aliment">
            </div>
            <div class="bg-aliment-9 zoom-fade-animation">
                <img src="assets/images/aliment-03.svg" width="29" height="29" alt="Aliment">
            </div>
            <div class="bg-aliment-10 rotate-animation">
                <img src="assets/images/aliment-09.svg" width="30" height="30" alt="Aliment">
            </div>
            <div class="bg-aliment-11 animate-this">
                <img src="assets/images/aliment-08.svg" width="34" height="34" alt="Aliment">
            </div>
            <div class="bg-aliment-12 animate-this">
                <img src="assets/images/aliment-10.svg" width="26" height="22" alt="Aliment">
            </div>
            <div class="bg-aliment-13 rotate-animation">
                <img src="assets/images/aliment-11.svg" width="30" height="30" alt="Aliment">
            </div>
            <div class="bg-aliment-14 animate-this">
                <img src="assets/images/aliment-07.svg" width="38" height="32" alt="Aliment">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content text-center">
                        <h1 class="h1-title">404 Error</h1>
                        <div class="banner-breadcrum">
                            <ul>
                                <li><a href="{% url 'index' %}" title="Home">Ana səhifə</a></li>
                                <li><i class="fa-solid fa-angle-right"></i></li>
                                <li>404 Error</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->

    <!-- 404 Start -->
    <section class="error-404-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="error-404-content-box text-center">
                        <div class="image-404-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <img src="assets/images/404-image.png" width="1071" height="798" alt="404 Not Found!">
                        </div>
                        <div class="error-404-content wow fadeup-animation" data-wow-duration="0.8s"
                            data-wow-delay="0.3s">
                            <h2 class="h2-title">Sorry We Can’t Find That Page!</h2>
                            <div class="body-lg">
                                <p>The page you are looking for was moved, removed, renamed or never existed.</p>
                            </div>
                            <a href="{% url 'index' %}" class="sec-btn" title="Back To Homepage"><span>Back To
                                    Homepage</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 End -->

    <!-- Apply Now Start -->
    <section class="apply-now-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="apply-now-box">
                        <div class="apply-now-shape animate-this">
                            <img src="assets/images/newsletter-bg-shape.svg" width="838" height="488"
                                alt="Apply Now Background Shape">
                        </div>
                        <div class="apply-now-content">
                            <div class="apply-now-image-box">
                                <img src="assets/images/apply-now-image.png" width="305" height="287"
                                    alt="Apply Now Image">
                            </div>
                            <div class="apply-now-text">
                                <div class="sec-title">
                                    <span class="sub-title">Apply Now</span>
                                    <h3 class="h3-title">Get Your Best Skills Certificate Now !</h3>
                                </div>
                                <div class="apply-now-btn">
                                    <a href="contact.html" class="sec-btn" title="Get Started"><span>Get
                                            Started</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Apply Now End -->

    <!-- Footer Start -->
    <footer class="site-footer">
        <div class="top-footer">
            <div class="footer-bg-aliment-wp">
                <div class="bg-aliment-1 rotate-animation">
                    <img src="assets/images/aliment-01.svg" width="30" height="30" alt="Aliment">
                </div>
                <div class="bg-aliment-2 rotate-animation">
                    <img src="assets/images/aliment-05.svg" width="30" height="30" alt="Aliment">
                </div>
                <div class="bg-aliment-3 rotate-animation">
                    <img src="assets/images/aliment-01.svg" width="30" height="30" alt="Aliment">
                </div>
                <div class="bg-aliment-4 animate-this">
                    <img src="assets/images/aliment-07.svg" width="38" height="32" alt="Aliment">
                </div>
                <div class="bg-aliment-5 animate-this">
                    <img src="assets/images/aliment-06.svg" width="19" height="16" alt="Aliment">
                </div>
                <div class="bg-aliment-6 zoom-fade-animation">
                    <img src="assets/images/aliment-03.svg" width="29" height="29" alt="Aliment">
                </div>
                <div class="bg-aliment-7 zoom-fade-animation">
                    <img src="assets/images/aliment-03.svg" width="29" height="29" alt="Aliment">
                </div>
                <div class="bg-aliment-8 animate-this">
                    <img src="assets/images/aliment-08.svg" width="34" height="34" alt="Aliment">
                </div>
                <div class="bg-aliment-9 zoom-fade-animation">
                    <img src="assets/images/aliment-03.svg" width="58" height="58" alt="Aliment">
                </div>
                <div class="bg-aliment-10 rotate-animation">
                    <img src="assets/images/aliment-11.svg" width="30" height="30" alt="Aliment">
                </div>
                <div class="bg-aliment-11 animate-this">
                    <img src="assets/images/aliment-10.svg" width="26" height="22" alt="Aliment">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-about">
                            <div class="footer-logo">
                                <a href="{% url 'index' %}" title="Courseshub">
                                    <img src="assets/images/footer-logo.svg" width="201" height="36" alt="Courseshub">
                                </a>
                            </div>
                            <div class="footer-logo-about-text">
                                <p>Sed commodo sit amet ante et ullamcorper. Integer vestibulum non justo id aliquet.
                                    Nam iaculis egestas mi, consectetur facilisis erat bibendum eu.</p>
                            </div>
                            <div class="social-info">
                                <h4 class="underline-title">Follow Us</h4>
                                <div class="footer-social-icons">
                                    <a href="https://www.facebook.com/" title="Follow On Facebook" target="_blank"><img
                                            src="assets/images/facebook-icon.svg" width="8" height="15"
                                            alt="Facebook Icon"></a>
                                    <a href="https://www.instagram.com/" title="Follow On Instagram"
                                        target="_blank"><img src="assets/images/instagram-icon.svg" width="14"
                                            height="14" alt="Instagram Icon"></a>
                                    <a href="https://www.linkedin.com/" title="Follow On Linkedin" target="_blank"><img
                                            src="assets/images/linkedin-icon.svg" width="13" height="13"
                                            alt="Linkedin Icon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="our-link-box">
                            <div class="our-link-content">
                                <h4 class="underline-title">Our Link</h4>
                                <ul>
                                    <li><a href="{% url 'index' %}" title="Home">Ana səhifə</a></li>
                                    <li><a href="about.html" title="About Us">About Us</a></li>
                                    <li><a href="courses-grid.html" title="Courses">Courses</a></li>
                                    <li><a href="faq.html" title="FAQ">FAQ</a></li>
                                    <li><a href="blog-grid.html" title="Blog">Blog</a></li>
                                    <li><a href="contact.html" title="Contact Us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="our-link-box">
                            <div class="our-link-content">
                                <h4 class="underline-title">Top Category</h4>
                                <ul>
                                    <li><a href="courses-list.html" title="Design & Learn Art">Design & Learn Art</a>
                                    </li>
                                    <li><a href="courses-list.html" title="Learn Data Science">Learn Data Science</a>
                                    </li>
                                    <li><a href="courses-list.html" title="Business Strategy">Business Strategy</a></li>
                                    <li><a href="courses-list.html" title="Learn Marketing">Learn Marketing</a></li>
                                    <li><a href="courses-list.html" title="Learn Lifestyle">Learn Lifestyle</a></li>
                                    <li><a href="courses-list.html" title="Learn Finance">Learn Finance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-info-box">
                            <h4 class="underline-title">Contact Us</h4>
                            <ul>
                                <li>
                                    <span class="contact-icon">
                                        <img src="assets/images/location-icon-2.svg" width="16" height="18"
                                            alt="Location Icon">
                                    </span>
                                    <span class="contact-text">
                                        <a href="https://maps.app.goo.gl/w1bz1cFsFyuKoFb38"
                                            title="1247/Plot No. 39, 15th Phase, Colony, Kukatpally, Hyderabad"
                                            target="_blank">1247/Plot No. 39, 15th Phase, Colony, Kukatpally,
                                            Hyderabad</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="contact-icon">
                                        <img src="assets/images/phone-icon.svg" width="19" height="19" alt="Phone Icon">
                                    </span>
                                    <span class="contact-text">
                                        <a href="tel:8745698961" title="+91 874 5698 961">+91 874 5698 961</a>
                                        <a href="tel:5879852698" title="+91 587 9852 698">+91 587 9852 698</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="contact-icon">
                                        <img src="assets/images/mail-icon.svg" width="19" height="13" alt="Mail Icon">
                                    </span>
                                    <span class="contact-text">
                                        <a href="https://html.geekcodelab.com/cdn-cgi/l/email-protection#9af3f4fcf5daf9f5efe8e9ffe9f2eff8b4f9f5f7" title="info@courseshub.com"><span class="__cf_email__" data-cfemail="1a73747c755a79756f68697f69726f7834797577">[email&#160;protected]</span></a>
                                        <a href="https://html.geekcodelab.com/cdn-cgi/l/email-protection#5e2d2b2e2e312c2a1e3d312b2c2d3b2d362b3c703d3133" title="support@courseshub.com"><span class="__cf_email__" data-cfemail="becdcbceced1cccafeddd1cbcccddbcdd6cbdc90ddd1d3">[email&#160;protected]</span></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-bottom-box">
                            <div class="copy-right">
                                <p>Copyright © <span id="copy-right-year"></span> <a
                                        href="https://themeforest.net/user/geekcodelab" target="_blank"
                                        title="Geekcodelab">Geekcodelab</a>. <span>All rights reserved.</span></p>
                            </div>
                            <div class="footer-bottom-link">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" title="Terms Of Service">Terms Of Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Back To Top Start -->
    <div class="scroll-to-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- Back To Top End -->

    <!-- Jquery JS Link -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!-- Bg Moving JS Link -->
    <script src="assets/js/bg-moving.js"></script>

    <!-- Wow Animation JS Link -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>

    <!-- Back To Top JS Link -->
    <script src="assets/js/back-to-top.js"></script>
</body>


</html>