{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}

<title>{{ meta.title|default:"Default Title" }}</title>
<meta name="description" content="{{ meta.description|default:'Default description' }}">
<meta name="keywords" content="{{ meta.keywords|default:'keyword1, keyword2' }}">

{% endblock %}
{% block css %}

    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/bootstrap.min.css' %}"
    />

    <!-- Swiper Slider CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/swiper-bundle.min.css' %}"
    />

    <!-- Font Awesome CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/fontawesome.min.css' %}"
    />

    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
  </head>
{% endblock %}
{% block main %}
<section class="contact-us-sec sec-space">
  <div class="container write-comments">
    <form method="POST">
      {% csrf_token %}
      <div class="rating-box">
        <h2>{{ exam.title }} {% trans 'imtahanını qiymətləndirin' %}</h2>

        <div class="stars">
          <i class="fas fa-star" data-index="1"></i>
          <i class="fas fa-star" data-index="2"></i>
          <i class="fas fa-star" data-index="3"></i>
          <i class="fas fa-star" data-index="4"></i>
          <i class="fas fa-star" data-index="5"></i>
        </div>
        <input type="hidden" name="rating" id="ratingInput" value="5">

        <div class="comment-box mt-3">
          <textarea
            name="comment"
            placeholder="{% trans 'İmtahan haqqında düşüncəniz...' %}"
            required
          ></textarea>
        </div>
        <button type="submit" class="send-btn mt-3">{% trans 'Göndər' %}</button>
      </div>
    </form>

    <script>
      const stars = document.querySelectorAll('.stars i');
      const ratingInput = document.getElementById('ratingInput');
      stars.forEach((star, index1) => {
        star.addEventListener('click', () => {
          ratingInput.value = index1 + 1;
          stars.forEach((s, index2) => {
            if (index1 >= index2) {
              s.classList.add('active');
            } else {
              s.classList.remove('active');
            }
          });
        });
      });
    </script>
  </div>
</section>
{% endblock %}

{% block js %}
    <!-- Back To Top Start -->
    <div class="scroll-to-top">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Back To Top End -->

    <!-- Jquery JS Link -->

    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Bootstrap JS Link -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Swiper Slider JS Link -->
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

    <!-- Bg Moving JS Link -->
    <script src="{% static 'assets/js/bg-moving.js' %}"></script>

    <!-- Wow Animation JS Link -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!-- Custom JS Link -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- Back To Top JS Link -->
    <script src="{% static 'assets/js/back-to-top.js' %}"></script>
{% endblock %}